# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @ranajahanzaib
/.github/  @ranajahanzaib

/apps/             @ranajahanzaib @Shoaibv2 @Nadiakhanv2 @Abdullah-k @RaoAhmad @Aftabv1
/packages/         @ranajahanzaib @Shoaibv2 @Nadiakhanv2 @Abdullah-k @RaoAhmad @Aftabv1
